html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: url('../images/bg_3.png');
    color: #303C6C;
    /*display: flex;*/
    flex-direction: column;
    overflow:hidden;
    font-family: 'Indie Flower', cursive;
    max-height: 100vh;
    min-height: 100vh;
    margin-bottom: 0px;
}


/* Green borders, margins, and navy blue background */

header, aside, #sketch-holder, footer {
    margin: 2px;
}


/* Page content */

header {
    padding: 14px;
}

h1, h2, h3, h4, h5, h6 {
    color: #66FCF1;
    margin: 0;
    text-align: center;
    text-shadow: 1px 1px 0 #000;
}

p {
    color: #66FCF1;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

main {
    display: flex;
    flex: 1;
    flex-direction: row;
}

a:link, a:visited {
    color: #303C6C;
}

section {
   max-height: 10%;
   background: url("../images/action_bar_bg.jpg");
}

#left-asides, #right-asides {
    display: flex;
    flex-direction: column;
}

#unit_info {
  min-height: 1vh;
  height:100%;
}

#recruit_bar {
    margin-left: 2px;
    display:inline-block;
}

#recruit-container {
  margin: 1% 1% 0 1%;
  width:10vh;
}

#action_bar {
    margin-right: 2px;
    white-space: nowrap;
    overflow: hidden;
    height: 100%;
}

#action {
  height: 10%;
}

#store_div {
  display:inline-block;
  width: 80%;
  height: 100%;
}

#store_but {
  display:inline-block;
  width: 80%;
  height: 100%;  
  float: right;
  margin: 0.5vh;
}

.group {
  overflow: hidden;
  white-space: nowrap;
}

.row_1, .row_2 {
  height: 6vh;
  width: 100%;
  display: block;
}

.group p:last-of-type {
    margin-top: 0;
}

#store {
    flex: 1;
    height:9vh;
    margin-left: 0.5%;
}

#store button, #map-aside button {

    text-align: center;
    text-shadow: none;
    height: 100%;
    width: 50%;
}

#sketch-holder {
    background-color: #000;
    flex: 1;
    margin: 2px;
    overflow: hidden;
    position: relative;
}

canvas {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}

button, select {
    color: #E3E2DF;
    font-family: 'Source Code Pro', monospace;
    font-size: 0.85em;
    text-shadow: 0.5px 0.5px 0 #000;
}

button {
    height: 30px;
}

.horiz-buttons {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 8vh;
}

.horiz-buttons button {
    color: #E3E2DF;
    display: block;
    flex: 1;
    text-align: center;
    border: none;
    border-radius: 8px;
}

#start_buttons {
  display:inline-block;
  margin: 0.5% 0 0.5% 0;
  float: right;
  width: 75%;
  height: 100%;
}

#status {
    font-size: 0.95em;
    position:absolute;
    top: 0;
    right: 0;
    overflow-y: hidden;
}

#info {
    flex: 1;
}

#info-div {
    display: none;
    margin: 0;
}

#info p {
    font-size: 0.8em;
}

#info-buttons button {
    color: #E3E2DF;
    font-size: 0.8em;
    text-shadow: none;
}


.io {
    background-color: rgb(224, 130, 131);
}


#upgrade {
    background-color: rgb(25, 181, 254);
}

#pause {
   /* border: 1px outset blue; */
   background-color: lightBlue;
   height:100%;
   width:100%;
   color: black;
   cursor:pointer;
   margin: 5px;
}

#pause:hover {
   background-color: blue;
   color:white;
}

#weak-div {
  white-space: nowrap;
  display: inline-block;
}

#weak-div p {
  display: inline-block;
  margin-top: 1%;
}


.Unit {
    background-color: #5D001E;
    color: #E3E2DF;
    border: none;
    border-radius: 8px;
    height:100%;
    /*background: url('../images/tile_bg.png');*/
    background: url('../images/action_bar_box.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

#recruit {
      background-color: #5D001E;
    color: #E3E2DF;
    border: none;
    border-radius: 8px;
    height:100%;
    /*background: url('../images/tile_bg.png');*/
   /*background: url('../images/action_bar_box.jpg');*/
    background-size: contain;
    background-repeat: no-repeat;
}

@media only screen and (min-width: 300px) {
    .Unit {
      width: 6vw !important;
      height: 50% !important;
      margin: 0px;
    }
    .Unit img {
      max-width: 80% !important;
    }
    #weak-div {
      font-size: 0.5em !important;
      display: block;
    }
    #unit_bar .group {
      overflow: hidden;
      width: 100%;
      display: block;
    }
    #upgrades {
      width: 100% !important;
      display: block;
      font-size: 0.7em;
    }
    #upgrades .Upgrade {
      font-size: 0.7em;
      width: 100%;
    }

    #upgrades span {
      display:block;
      font-size: 0.7em;
    }
}

@media only screen and (min-width: 500px) {
    .Unit {
      width: 7vw !important;
      height: 80% !important;
      margin-right: 1px;
    }
    .Unit img {
      max-width: 70% !important;
      float: left;
    }
    .row_1, .row_2 {
      height: 11vh
    }
    #store_div {
      width: 13% !important;
    }
    #store_but {
      width: 25% !important;
    }
    #unit_bar {
      width: 6vw !important;
    }
}

@media only screen and (min-width: 700px) {
    .Unit {
      width: 7vw !important;
      height: 65% !important;
      margin-right: 1px;
    }
}

@media only screen and (min-width: 1000px) {
    .Unit {
      width: 7vw !important;
      height: 90% !important;
      margin-right: 1px;
    }
}

@media only screen and (min-width: 1300px) {
    .Unit {
      width: 7vw !important;
      height: 100% !important;
      margin-right: 1px;
    }
}

@media only screen and (min-width: 1600px) {
  .group {
    overflow: hidden;
    white-space: normal;
  }
  .row_1, .row_2 {
    height: 6vh;
    width: 100%;
    margin-bottom: 0px;
  }
  .Unit {
    width: 6vw !important;
  }
  #store_div {
    width: 13% !important;
  }
}

@media only screen and (min-width: 1900px) {
  .row_1, .row_2 {
    width: 22vh;
  }

  #store_div {
    width: 11% !important;
  }

  .Unit {
    width: 5vw !important;
  }
}

@media only screen and (min-width: 2200px) {
  #store_div {
    width: 10% !important;
  }
  .Unit {
    width: 4.5vw !important;
  }
}


@media only screen and (min-width: 2500px) {

  .Unit {
    width: 4vw !important;
  }
}


@media only screen and (min-width: 2800px) {
  #store_div {
    width: 8% !important;
  }

  .Unit {
    width: 3.5vw !important;
  }
}

@media only screen and (min-width: 3200px) {
  #store_div {
    width: 6.5% !important;
  }

  .Unit {
    width: 3vw !important;
  }
}

@media only screen and (max-height: 500px) and (min-width: 1600px) {
  .row_1, .row_2 {
    height: 11vh;
    margin-bottom:2px;
  }
  .Unit img {
    max-width: 60%;
  }
}

@media only screen and (max-height: 700px) and (min-width: 1900px) {
  .row_1, .row_2 {
    height: 11vh;
    margin-bottom:2px;
  }
  .Unit img {
    max-width: 60%;
  }
}

@media only screen and (max-height: 300px) and (max-width: 500px) {
  .row_1, .row_2 {
    height: 13vh;
    margin-bottom:2px;
  }
  .Unit img {
    max-width: 3vw !important;
  }
  #store_div {
    width : 12%;
  }
  .Unit {
    height: 100%;
  }
}


@media only screen and (max-height: 300px) and (max-width: 900px) {
  .row_1, .row_2 {
    height: 10vh !important;
    margin-bottom:2px !important;
    width: 100%;
  }
  .Unit {
    height: 100% !important;
  }
  .Unit img {
    max-width: 3vw !important;
  }
  #store_div {
    width : 12%!important;
  }
}


@media only screen and (max-height: 1000px) {
  .Unit {
    margin: 1px;
  }
  p {
    margin: 0px;
  }
} 


  .clearfix::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.Upgrade {
    margin: 5%;
    background-color: #5D001E;
    color: #E3E2DF;
    border: none;
    border-radius: 8px;
}

@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
* {
  box-sizing: border-box;
}

h1 {
  margin: 50px 0;
  font-family: 'Indie Flower', cursive;
  font-size: 48px;
  font-weight: normal;
  text-align: center;
}

.btn-container {
  position: relative;
  display:none;
}

#recruiter {
  color: #fff;
  font-family: 'Indie Flower', cursive;
  font-size: 22px;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px);
  -webkit-animation-name: hover;
  animation-name: hover;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
#recruiter:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity;
  opacity: .4;
  -webkit-transform: translateY(6px);
  -ms-transform: translateY(6px);
  transform: translateY(6px);
  -webkit-animation-name: hover-shadow;
  animation-name: hover-shadow;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
#recruit:hover {
  background-color: #e16e50;
}

@keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}
@-webkit-keyframes hover-shadow {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }
}
@keyframes hover-shadow {
  0% {
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }
  50% {
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    transform: translateY(3px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }
}
@-webkit-keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}
@keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}